.home-page {
  @include flex-center;
  min-height: 100vh;

  @include element('greeting') {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    color: $color-primary;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    @include respond-to(md) {
      font-size: 5rem;
    }
  }
}
 