.employee-list {
  width: 100%;
  background-color: $color-white;
  border-radius: $border-radius-sm;
  box-shadow: $shadow-sm;
  padding: 40px;

  @include element('cards') {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: $spacing-md;
    margin-bottom: $spacing-md;
  }
}
